<%= form_with scope: :world, url: worlds_path, local: :true do |form| %>

<p>
	<%= form.label :part %>
	<%= form.text_field :part %>
</p>

<p>
	<%= form.label :country %>
	<%= form.text_field :country %>
</p>

<p>
	<%= form.label :city %>
	<%= form.text_field :city %>
</p>

<p>
	<%= form.submit %>
</p>

<% end %>