<h1>Listing of houses</h1>

<table>
	<tr>
		<th>City</th>
		<th>Street</th>
		<th>Number</th>
	</tr>

	<%= @house.each do |house| %>
	<tr>
		<td><%= house.city %></td>
		<td><%= house.street %></td>
		<td><%= house.number %></td>
		<td><%= link_to 'Show', house_path(house) %></td>
		<td><%= link_to 'Edit', edit_house_path(house) %></td>
		<td><%= link_to 'Destroy', house_path(house), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
	</tr>
	<% end %>
</table>