<p>
	<strong>Lenght:</strong>
	<%= @room.lenght %>
</p>

<p>
	<strong>Width:</strong>
	<%= @room.width %>
</p>

<p>
	<strong>Hight:</strong>
	<%= @room.hight %>
</p>

<p>
	<strong>Square:</strong>
	<%= @room.square %>
</p>

<p>
	<%= link_to 'Edit', edit_room_path %>
	<%= link_to 'Main', rooms_path %>
</p>
